.afficherBateaux {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choixBateau {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
}

.caseNormal {
  background-color: blue;
}

.caseBateau {
  background-color: gray;
}

.caseManquer {
  background-color: white;
}

.caseToucher {
  background-color: darkred;
}

table {
  border-collapse: collapse;
}

th.numbers,
th.letters {
  border: none;
}

td {
  border: 1px solid black;
  padding: 20px;
}

td:first-child,
th:first-child {
  border-left: none;
}

tr:first-child th {
  border-top: none;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  max-width: 100%;
}

input[type="submit"] {
  background-color: #396afc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2948ff;
}

#paletteBateaux {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.listeBateau {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
}

.carre {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: gray;
  box-sizing: border-box;
}


#info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: rgb(71, 70, 70);
  text-shadow: 2px 2px 4px red;
  background-color: #ffffff;
  border: 1px solid #f00;
  box-shadow: 0 0 5px #f00;
  padding: 10px;
}

#message {
  font-size: 30px;
  color: black;
  text-shadow: 2px 2px 4px red;
}

#info>div {
  margin-right: 20px;
}

#tableaux,
#representationBateaux {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#tableaux>* {
  margin-right: 5%;
}

#representationBateaux>* {
  margin-right: 50%;
}

#tableaux>*:last-child,
#representationBateaux>*:last-child {
  margin-right: 0;
}

.afficherBateaux {
  border: 1px solid black;
}